:host {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #7d29fa;
  color: #fff;
  overflow-y: auto;
  padding-top: 16px;
  z-index: 1000;
}
.close {
  align-self: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 16px 8px 16px;
}
.close img {
  width: 36px;
  height: 36px;
  opacity: 0.8;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  /* border-bottom: 1px solid #5e00ea; */
  padding-bottom: 16px;
}
a {
  font-weight: 600;
  display: block;
  padding: 16px 32px;
  text-decoration: none;
  color: white;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}

.user-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 16px;
}
