:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.thumbnail {
  width: 45px;
  height: 45px;
  background-color: #d9dfe5;
  border-radius: 50%;
  padding: 2px;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

button:hover,
button:focus {
  background-color: #f0f0f0;
  border-radius: 50%;
  outline: none;
}

button img {
  position: relative;
  top: 2px;
  width: 18px;
  height: 18px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0 24px;
}

.info-price {
  font-weight: 600;
}
