:host {
  position: absolute;
  top: 50px;
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 28px;
  background-color: #fff;
  overflow-y: auto;
  z-index: 999;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 54px;
}

.total-label {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #757575;
}

.total {
  font-size: 24px;
  font-weight: 600;
  align-self: flex-end;
  margin-top: 54px;
}

button {
  padding: 12px 16px;
  margin-top: 54px;
  background-color: #5e00ea;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #7d29fa;
  outline: none;
}

button:disabled {
  background-color: #bbb;
  color: #777;
  cursor: not-allowed;
}
