<form name="passwordChange" [formGroup]="passwordChangeForm">
  <label>
    Nueva Contraseña
    <input type="password" name="new-password" formControlName="newPassword" />
  </label>
  <app-form-error-container
    [forControl]="passwordChangeForm.get('newPassword')"
  >
    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
  </app-form-error-container>

  <label>
    Repetir Nueva Contraseña
    <input
      type="password"
      name="password-confirm"
      formControlName="passwordConfirm"
    />
  </label>
  <app-form-error-container
    [forControl]="passwordChangeForm.get('passwordConfirm')"
  >
    <app-form-error-msg forErrorCode="required"></app-form-error-msg>
  </app-form-error-container>
</form>
