:host {
  display: flex;
  flex-direction: column;

  padding: 16px;
}
.catalog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 16px;
}

a:hover,
a:focus {
  text-decoration: underline;
}
