* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template: 1fr / 1fr;
  width: 100vw;
  height: 100vh;
}
