* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: grid;
  grid-template: 1fr / 1fr;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}
